*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}
.-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 120px;
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header.gradient {
    background: linear-gradient(268.86deg, #22423A 0.98%, #166350 99.24%);
}
.header_block-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 36px 0;
}
.header_block-menu {
    padding: 5px 0 0 0;
}
.header_block-list {
    display: flex;
    align-items: center;
}
.header_block-item {
    padding: 3px 0 5px 12px;
}
.header_block-item:not(:last-child) {
    margin-right: 100px;
}
.header_block-link  {
    color: white;
    font-size: 18px;
}
.header_block-tittle {
    font-size: 24px;
    font-weight: 700;
    color:#1FA786;
}
.-green {
    color:#23715E;
    font-weight: 600;
}
.header_block-menutel {
    display: none;
}

.header_menu2 {
    background: linear-gradient(264deg, #1E6957 0%, #3D927D 100%);
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.25);
    display: none;
}
.header_menu2.show{
    display: block;
}
.header_menu2-body {
    padding: 40px 0;
}
.header_menu2-item:not(:first-child) {
    margin-top: 40px;
}
.header_menu2-link {
    color: white;
}
.span-tittle-header{
    color: #fff;
}

.section {
    background: linear-gradient(to top, black -5%, transparent 100%),url(/static/fullscreen_16x9_1896221_no-lang_1b78302bee22fb50bb59f2a94d66e26bfe640652.png) center center no-repeat;
    background-size: cover;
}
.block-section-body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 810px;
}
.section-block-tittle {
    margin-bottom: 36px;
}
@media (max-width:990px) {
    .-block-tittle{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
}
.section-h2-tittle {
    color: #23715E;
    font-size: 32px;
}
.section-span-tittle{
    color: #fff;
    font-size: 32px;
}

.section-2 {
    background: linear-gradient(264deg, #1E6957 0%, #3D927D 100%);
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.25);
}
.-container3 {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 120px;
}
.section-2_block-container {
    
}
.block-section-2-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0;
}
.paragraph-block {
    
}
.paragraph {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 36px;
}

.section-3 {
}
.section-3_block-container {
    
}
.-container-2 {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 120px;
}
.block-section-3-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block-h4-tittle-section-3 {
    
}
.h4-tittle-section-3 {
    color: #23715E;
    padding: 70px ;
}
.block-h5-tittle-section-3{
    
}
.h6-tittle{
    font-size: 18px;
    font-weight: 600;
    color: #155041;
}
.-block-actor-double{

}
.h5-tittle-section-3{
    font-weight: 500;
    color: #23715E;
    font-size: 20px;
}
.block-actor-section-3 {
    text-align: center;
    width: 200px;
    margin-bottom: 83px;
}
.-block-actor-double{
    
}
.block-actors-group-section-3{
    display: flex;
    justify-content: center;
}
.-section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),  url(/static/image19.png);
    background-size: cover;
}
.-section-4{
    margin-top: 83px;
}
.-section-5{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), url(/static/image27.png);
    background-size: cover;
}
.-section-6{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), url(/static/image34.png) center center no-repeat;
    background-size: cover;
}
.-section-7{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), url(/static/image41.png) center center no-repeat;
    background-size: cover;
}
.-container-width{
    margin: 0 auto;
}
.-h5{
    
}

.footer {
    background: linear-gradient(106deg, #212C29 0%, #0D4739 100%);
}
.footer span {
    color: white;
}
.footer_block-body {
    padding: 175px 0 100px 0;
    display: flex;
    justify-content: space-between;
}
.-white {
    background: white;
    position: absolute;
    left: 0;
}
.footer_block-item {
    color: white;
    margin-top: 48px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.footer_block-item a {
    margin: 0 20px;
    font-weight: 600;
}
.footer_block-item i {
    font-size: 30px;
}
.footer_block-name {
    text-align: center;
    line-height: initial;
}
.footer_block-tittle {
    font-size: 96px;
    color: #1FA786;
}
.footer_block-tittle > a, .footer_block-subtittle > a{
    color: #1FA786;
    font-weight: 700;
}
.footer_block-subtittle {
    font-size: 32px;
}

.footer_block-item.unvisible {
    display: none;
}
.footer_block-item.show {
    display: flex;
}
.footer_block-img {
    cursor: pointer;
}
.footer_block-img.down {
    transform: rotate(0);
}
.description_block-hr {
    width: 50%;
    height: 3px;
    border-radius: 10px 0px 0px 10px;
}
@media ( max-width:485px ) {
    .footer_block-item a {
        width: 200px;
    }
}
@media ( max-width:1150px ){
    .header_block-menutel {
        display: block;
        position: relative;
        top: 5px;
    }
    .header_block-menu {
        display: none;
    }
    .header_block-tittle {
        font-size: 20px;
    }
    .footer_block-body {
        padding: 155px 0 90px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footer_block-about {
        margin-top: 150px;
    }
    .-container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 0 80px;
    }
}
@media ( max-width:600px ){
    .footer_block-item {
        margin-left: 20px;
    }
    .-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 25px;
    }
}
@media (max-width:700px) {
    .section-h2-tittle, .section-span-tittle{
        font-size: 20px;
    } 
    .paragraph{
        font-size: 16px;
    }
}
@media (max-width:1450px) {
    .block-actors-group-section-3{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}
@media (max-width:660px) {
    .block-actor-section-3{
        width: 158px;
        height: 144px;
    }
    .-block-actor-double{
        width: 158px;
        height: 144px;
    }
    .h5-tittle-section-3, .h6-tittle{
        font-size: 16px;
    }
}
@media (max-width:750px) {
    .-block-actor-double{
        width: 170px;
        
    }
}
@media (max-width:580px) {
    .block-section-body{
        width: 580px;
        height: 350px;
        
    }
    .-block-actor-double{
        font-size: 14px;
        width: 145px;
    }
    .img-actor{
        width: 120px;
    }
    .section{
        
    }
    
}
@media ( max-width:485px ) {
    .footer_block-item a {
        width: 200px;
    }
}
@media (max-width:575px) {
    .section-block-tittle{
        margin-right: 50px;
    }
}
@media (max-width:550px) {
    .section-block-tittle{
        margin-right: 80px;
    }

}
@media (max-width:520px) {
    .section-block-tittle{
        margin-right: 100px;
    }
}
@media (max-width:500px) {
    .section-block-tittle{
        margin-right: 120px;
    }
}
@media (max-width:475px) {
    .-spetial-tittle{
        margin-right: 50px;
    }
    .-Pele-tittle{
        margin-right: 30px;
    }
}
@media (max-width:460px) {
    .-big-tittle{
        margin-right: 43px;
        margin-left: 50px;
    }
}
@media (max-width:435px) {
    .-Pele-tittle{
        margin-right: 50px;
    }
}
@media (max-width:420px) {
    .section-block-tittle{
        margin-right: 130px;
    }
}
@media (max-width:400px) {
    .section-block-tittle{
        margin-right: 170px;
    }
}
@media (max-width:385px) {
    .section-block-tittle{
        margin-right: 200px;
    }
}