<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='articles-main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Articles</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_block-container -container">
                <div class="header_block-body">
                    <a href="/"><h2 class="header_block-tittle">Olesya<span class="span-tittle-header">Tsymbal</span></h2></a>
                    <nav class="header_block-menu">
                        <ul class="header_block-list">
                            <li class="header_block-item">
                                <a href="/" class="header_block-link -green">Про себе</a>
                            </li>
                            <li class="header_block-item">
                                <a href="{{ url_for('posts') }}" class="header_block-link">Статті</a>
                            </li>
                            <li class="header_block-item"> 
                                <a href="{{ url_for('index') }}" class="header_block-link">Бібліотека</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header_block-menutel">
                        <a href=""><img src="{{ url_for('static', filename='png15.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="header_menu2 -container">
                <div class="header_menu2-body">
                    <ul class="header_menu2-list">
                        <li class="header_menu2-item">
                            <a href="/" class="header_menu2-link">Про себе</a>
                        </li>
                        <li class="header_menu2-item">
                            <a href="{{ url_for('posts') }}" class="header_menu2-link">Статті</a>
                        </li>
                        <li class="header_menu2-item"> 
                            <a href="{{ url_for('index') }}" class="header_menu2-link">Бібліотека</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <section class="section">
                {% for post in posts %}
                <div class="container-section" id="post-container-{{ loop.index }}">
                    <div class="block-section_body">
                        <div class="h3-block-tittle -container">
                            <h3 class="h3-tittle">{{ post[2] }}</h3>
                        </div>
                        <div class="block-line">
                            <hr class="line-section">
                        </div>
                        <div class="form-blocks">
                            <div class="group-blocks -container">
                                <div class="block-foto">
                                    <!-- <img class = "Negr" src="{{ url_for('static', filename='') }}" alt=""  width="427" height="250"> -->
                                    <img class = "Negr" src="/static/{{ post[1] }}" alt="Image"  width="427" height="250">
                                </div>
                                <div class="group-inputs">

                                    <div contenteditable="false" class="input-text-section" readonly>
                                        {{ post[0] | safe }}
                                    </div>
                                    
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </main>
        <footer class="footer">
            <div class="footer_block-container -container">
                <div class="footer_block-body">

                    <div class="footer_block-about">
                        <div class="description_block-hr -white"></div>
                        <div class="footer_block-social">
                            <div class="footer_block-item">
                                <i class="fa-brands fa-instagram"></i>
                                <a target="_blank" href="https://www.instagram.com/psy.olesya.kr/?igshid=NTc4MTIwNjQ2YQ%3D%3D"><span>psy.olesya.kr</span></a>
                            </div>
                            <div class="footer_block-item">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+380(67) 638 16 17"><span>+380(67) 638 16 17</span></a>
                            </div>
                            <div class="footer_block-item" id="click">
                                <i class="fa-brands fa-facebook"></i>
                                <a target="_blank" href="https://www.facebook.com/people/%D0%A1%D0%B5%D0%BA%D1%80%D0%B5%D1%82%D1%8B-%D0%A1%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE-%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%8F/100052098022863/"><span>Facebook</span></a>
                                <img  class="footer_block-img" src="{{ url_for('static', filename='png19.png') }}" alt="">
                            </div>
                            <div class="footer_block-item unvisible" id="unvisible">
                                <i class="fa-brands fa-facebook"></i>
                                <a href="https://www.facebook.com/psy.olesya.kr"><span>Олеся Цимбал</span></a>
                                <img  class="footer_block-img" src="{{ url_for('static', filename='mdi_facebook.png') }}" alt="">
                                <a href="https://www.facebook.com/people/%D0%A1%D0%B5%D0%BA%D1%80%D0%B5%D1%82%D1%8B-%D0%A1%D0%B5%D0%BC%D0%B5%D0%B9%D0%BD%D0%BE%D0%B3%D0%BE-%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%8F/100052098022863/"><span>Секрети Сімейного Благополуччя</span></a>

                            </div>
                            
                        </div>
                    </div>

                    <div class="footer_block-name">
                        <h1 class="footer_block-tittle"><a href="">O<span>T</span></a></h1>
                        <h2 class="footer_block-subtittle"><a href="">Olesya<span>Tsymbal</span></a></h2>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
