<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='choise.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_block-container -container">
                <div class="header_block-body">
                    <a href="/"><h2 class="header_block-tittle">Olesya<span class="span-tittle-header">Tsymbal</span></h2></a>
                    <nav class="header_block-menu">
                        <ul class="header_block-list">
                            <li class="header_block-item">
                                <a href="/" class="header_block-link">Про себе</a>
                            </li>
                            <li class="header_block-item">
                                <a href="{{ url_for('posts') }}" class="header_block-link">Статті</a>
                            </li>
                            <li class="header_block-item"> 
                                <a href="{{ url_for('index') }}" class="header_block-link -green">Бібліотека</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header_block-menutel">
                        <a href=""><img src="{{ url_for('static', filename='png15.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="section">
                <div class="section-container -container-2">
                    <div class="block-body">
                        <div class="block-h1-tittle">
                            <a href="{{ url_for('films') }}"><h1 class="h1-tittle">Фільми</h1></a>
                        </div>
                        <div class="block-h1-tittle">
                            <a href=""><h1 class="h1-tittle">Книги</h1></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer_block-container -container">
                <div class="footer_block-body">

                    <div class="footer_block-about">
                        <div class="description_block-hr -white"></div>
                        <div class="footer_block-social">
                            <div class="footer_block-item">
                                <i class="fa-brands fa-instagram"></i>
                                <a href=""><span>psy.olesya.kr</span></a>
                            </div>
                            <div class="footer_block-item">
                                <i class="fa-solid fa-phone"></i>
                                <a href=""><span>+380(67) 638 16 17</span></a>
                            </div>
                            <div class="footer_block-item">
                                <i class="fa-brands fa-facebook"></i>
                                <a href=""><span>Секрети Сімейного Благополуччя</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="footer_block-name">
                        <h1 class="footer_block-tittle"><a href="">O<span>T</span></a></h1>
                        <h2 class="footer_block-subtittle"><a href="">Olesya<span>Tsymbal</span></a></h2>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>
</html>