<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
            <header class="header">
                <div class="header_block-container -container">
                    <div class="header_block-body">
                        <a href="/"><h2 class="header_block-tittle">Olesya<span class="span-tittle">Cymbal</span></h2></a>
                        <nav class="header_block-menu">
                            <ul class="header_block-list">
                                <li class="header_block-item">
                                    <a href="/" class="header_block-link">Про себе</a>
                                </li>
                                <li class="header_block-item">
                                    <a href="{{ url_for('posts') }}" class="header_block-link">Статті</a>
                                </li>
                                <li class="header_block-item"> 
                                    <a href="{{ url_for('index') }}" class="header_block-link -green">Бібліотека</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        <main class="main">
            <section class="section">
                    <div class="section_block-container -container">
                        <div class="block-section-body">
                            <div class="section-block-tittle -block-tittle">
                               <h2 class="section-h2-tittle">Художній фільм: <span class="section-span-tittle">,,Вік Аделіни”</span></h2>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="section-2">
                <div class="section-2_block-container -container3">
                    <div class="block-section-2-body">
                        <div class="paragraph-block">
                            <p class="paragraph">
                                За сюжетом головна героїня народилася разом із XX століттям і живе у світі вже сто років, але при цьому не старіє. Незважаючи на своє довге життя, Аделайн так і не змогла знайти кохану людину. Однак нарешті вона зустрічає чоловіка, заради якого зможе знову стати смертною і постаріти разом із ним.
                            </p>
                            <p class="paragraph">
                                День народження Адалін на підроблених посвідченнях особистості, які вона отримує на початку фільму, фактично збігається з днем ​​народження самої Блейк Лайвлі, 25 серпня, з різницею всього в один рік (у фільмі 1986 року Лайвлі народився 1987 року в реальному житті)
                            </p>
                            <p class="paragraph">
                                Коли Адалін вирушає на новорічну вечірку відвідати свого друга Рейгана, вона зупиняється і дивиться на свою фотографію півстолітньої давності. Вона одягнена в ту ж сукню на вечірку напередодні Нового року в 2014 році, що вона була одягнена багато років тому. Можливо, це був особистий жарт із нею, або, можливо, це була данина поваги іншому часу.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-3">
                <div class="section-3_block-container -container">
                    <div class="block-section-3-body">
                        <div class="block-h4-tittle-section-3">
                            <h4 class="h4-tittle-section-3">Головні герої</h4>
                        </div>
                        <div class="block-actors-group-section-3">
                            <div class="block-actor-section-3 -block-actor-double">
                                <img src="{{ url_for('static', filename='photo1.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Блейк Лайвлі</h5>
                                <h6 class="h6-tittle">Аделайн</h6>
                            </div>
                            <div class="block-actor-section-3">
                                <img src="{{ url_for('static', filename='photo2.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Харрісон Форд</h5>
                                <h6 class="h6-tittle">Вілльям Джонс</h6>
                            </div>
                            <div class="block-actor-section-3 -block-third">
                                <img src="{{ url_for('static', filename='photo3.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Міхіл Хейсман</h5>
                                <h6 class="h6-tittle">Елліс Джонс</h6>
                            </div>
                            <div class="block-actor-section-3">
                                <img src="{{ url_for('static', filename='photo4.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Еллін Берстін</h5>
                                <h6 class="h6-tittle">Флемінг</h6>
                            </div>
                            <div class="block-actor-section-3">
                                <img src="{{ url_for('static', filename='photo5.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Аманда Крю</h5>
                                <h6 class="h6-tittle">Кікі</h6>
                            </div>
                            <div class="block-actor-section-3">
                                <img src="{{ url_for('static', filename='photo6.png') }}" alt="">
                                <h5 class="h5-tittle-section-3">Єнтоні Інграбер</h5>
                                <h6 class="h6-tittle">Вільям Джонс</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section -section">
                <div class="section_block-container -container">
                    <div class="block-section-body">
                        <div class="section-block-tittle -block-tittle">
                           <h2 class="section-h2-tittle">Художній фільм: <span class="section-span-tittle">,,Чоловіки зі слабкощамі”</span></h2>
                        </div>
                    </div>
                </div>
        </section>
        <section class="section-2">
            <div class="section-2_block-container -container">
                <div class="block-section-2-body">
                    <div class="paragraph-block">
                        <p class="paragraph">
                            Троє молодих людей з обмеженими можливостями, але безмежною зухвалістю вирушають назустріч пригодам по дорозі в один особливий бордель у Монреалі. Троє молодих людей з обмеженими можливостями, але безмежною зухвалістю вирушають назустріч пригодам по дорозі в один особливий бордель у Монреалі.
                        </p>
                        <p class="paragraph">
                            Відкриваються "Чоловіки зі слабкостями" дивовижною сценою сну одного з центральних персонажів Скотті (Грант Розенмейєр, "Фінансовий монстр", серіал "Чокнута колишня"), який бачить свою медсестру-фізіотерапевта, що виходить із моря в бікіні в променях заходу сонця.
                        </p>
                        <p class="paragraph">
                            Прокинувшись він, практично повністю паралізованим, демонструє прекрасну потенцію і бадьорий горбок під ковдрою демонструє, що з сексуальним здоров'ям Скотті повний порядок. Ліз (Джанін Гарофало, серіал "Стамптаун", "Мерсі Блек"), дбайлива і надто поглинена теленовелами мати хлопця, вже давно звикла до таких ранкових номерів свого "Жучка".
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3">
            <div class="section-3_block-container -container-2">
                <div class="block-section-3-body">
                    <div class="block-h4-tittle-section-3">
                        <h4 class="h4-tittle-section-3">Головні герої</h4>
                    </div>
                    <div class="block-actors-group-section-3">
                        <div class="block-actor-section-3 -block-actor-double">
                            <img src="{{ url_for('static', filename='photo7.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Грант Розенмейєр</h5>
                            </div>
                        </div>
                        <div class="block-actor-section-3">
                            <img src="{{ url_for('static', filename='photo8.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Хейден Сзето</h5>
                            </div>
                        </div>
                        <div class="block-actor-section-3">
                            <img src="{{ url_for('static', filename='photo9.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Хейден Сзето</h5>
                            </div>
                        </div>
                        <div class="block-actor-section-3">
                            <img src="{{ url_for('static', filename='photo10.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Дейзі Тьютор</h5>
                            </div>
                        </div>
                        <div class="block-actor-section-3">
                            <img src="{{ url_for('static', filename='photo11.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Джанин Гарофало</h5>
                            </div>
                        </div>
                        <div class="block-actor-section-3">
                            <img src="{{ url_for('static', filename='photo12.png') }}" alt="">
                            <div class="block-h5-tittle-section-3">
                                <h5 class="h5-tittle-section-3">Уокер Нетта</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <footer class="footer">
            <div class="footer_block-container -container">
                <div class="block-footer-body">
                    <div class="line_container">
                        <hr class="line">
                    </div>
                    <div class="container-buttons-first-footer">
                        <img class="img-footer" src="{{ url_for('static', filename='uil_instagram-alt.png') }}"alt="">
                        <a class="button-footer" href="">psy.olesya.kr</a>
                    </div>
                    <div class="container-buttons-footer">
                        <img class="img-footer" src="{{ url_for('static', filename='fluent_call-12-filled.png') }}" alt="">
                        <a class="button-footer" href="">+380(67) 638 16 17</a>
                    </div>
                    <div class="container-buttons-footer">
                        <img class="img-footer" src="{{ url_for('static', filename='mdi_facebook.png') }}" alt="">
                        <a class="button-footer" href="">Секрети Сімейного Благополуччя</a>
                    </div>
                    <div class="container-buttons-footer">
                        <img class="img-footer" src="{{ url_for('static', filename='mdi_facebook.png') }}" alt="">
                        <a class="button-footer" href="">Олеся Цимбал</a>
                    </div>
                </div>
                <div class="block-tittles-footer">
                    <h1 class="h1-tittle-footer">O<span class="span-fotter">C</span></h1>
                    <h3 class="h3-tittle-footer">Olesya<span class="next-span-footer">Cymbal</span></h3>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>